@import "tailwindcss";

* {
  font-family: var(--font-poppins), sans-serif;
}

@theme {
  --color-primary: #ff8f18;
  --color-secondary: #ff8e18;
  --color-tertiary: #4555cf;
  --color-black: #1f1b1b;
  --color-light-gray: #eeeeee;
  --color-dark-gray: #bec0c1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
